html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #FCF7FF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tcolor-brand-1 {
  color: #845EC2;
}

.tcolor-brand-2 {
  color: #2C73D2;
}

/* typing new todos field */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #2d2d2d;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}


.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(to right, #845EC2, #4FFBDF);
  border-image-slice: 1;
}


